<div class="container">
	<h6>Written by {{post.author}}</h6>
	{{post.message}}
</div>

<div class="container">
	<form action="/forum/reply/post/{{postId}}" method="POST">
		<h2>Reply in this thread</h2>
		<div class="form-group">
			<textarea class="form-control" rows="5" name="message"></textarea>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
