<div class="container">
	<ul class="list-group">
	{{#each posts}}
		<li>{{this.message}} <a href="/forum/reply/{{this._id}}" class="btn btn-info" role="button">Reply</a></li>
	{{/each}}
	</ul>
</div>
