<div class="container">
	<h2>Insert a new module</h2>
	<form role="form">
		<div class="form-group">
			<label for="name">Module name:</label>
			<input type="text" class="form-control" id="name" placeholder="The module's name">
		</div>
		<div class="form-group">
			<label for="description">Description:</label>
			<textarea class="form-control" rows="5" id="description"></textarea>
		</div>
		<div class="form-group">
			<label for="slots">Slots:</label>
			<input type="number" class="form-control" id="slots">
		</div>
		<h3>Registrations</h3>
		<div class="form-group">
			<label for="registrationbegins">Beginning:</label>
			<input type="datetime-local" class="form-control" id="registrationbegins">
		</div>
		<div class="form-group">
			<label for="registrationends">Ending:</label>
			<input type="datetime-local" class="form-control" id="registrationends">
		</div>
		<h3>Period</h3>
		<div class="form-group">
			<label for="periodbegins">Beginning:</label>
			<input type="datetime-local" class="form-control" id="periodbegins">
		</div>
		<div class="form-group">
			<label for="periodends">Ending:</label>
			<input type="datetime-local" class="form-control" id="periodends">
		</div>
		<div class="form-group">
			<label for="credits">Credits:</label>
			<input type="number" class="form-control" id="credits">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
