{{!< default}}

<div class="containers-fluid">
{{#if data.modules}}
	<ul class="list-group">
		{{#each data.modules}}
			<li class="list-group-item">{{displayModuleList this sess.isAdmin}}</li>
		{{/each}}
	</ul>
{{/if}}
</div>


{{#if sess.isAdmin}}
<div class="containers-fluid">
	<a class="btn btn-info" role="button" href="/admin/module/new">Add new module</a>';
</div>
{{/if}}

<!--
<li class="list-group-item">{{this}}</li>
-->
