<div class="container-fluid">
	<a href="/ticket/new" class="btn btn-danger" role="button">Open a ticket</a>
</div>

<p>
	{{data.admin}}<br />
	{{data.tickets}}<br />
	{{data.admin_id}}<br />
</p>

<div class="container-fluid">
	{{#ticketOverview data}}{{this}}{{/ticketOverview}}
</div>
