<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<hr>
				<div class="post">
					{{#ticketlist data.ticket}}{{firstName}} {{lastName}}{{/list}}
				</div>
			</article>
		</div>
	</div>
</div>
