{{!< default}}

<div class="container">
	<ul class="list-group">
		<li class="list-group-item">{{result.name}}</li>
		<li class="list-group-item">{{result.descrilition}}</li>
		<li class="list-group-item">{{result.slots.max}}</li>
		<li class="list-group-item">{{result.slots.current}}</li>
	</ul>
</div>
